@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body {
	font-family: 'Poppins', sans-serif !important;
}

.jumbotron {
	background-color: #288d9c !important;
}

.jumbotron h1 {
	font-weight: 700;
	color: #fff !important;
}

.text-success {
	color: #288d9c !important;
}

.btn-success {
	background-color: #288d9c !important;
}