@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
body {
	font-family: 'Poppins', sans-serif !important;
}


.jumbotron h1 {
	font-weight: 700;
	color: #fff !important;
}

.row h1 {
	color: #2F364D !important;
}

.bg-info {
	background-color: #993F60 !important;
}

.btn-info {
	background-color: #993F60 !important;
}

.text-info {
	color: #2F364D !important;
}